<h1 class="text-center">Burger Time!</h1>


<div class="row">
	<div class="col-md-6" id="uneaten">
		{{#each burgers}}
			{{#unless this.devoured}}
				<div class="burger-box text-center col-md-10">
					{{this.id}}
					{{this.burger_name}}
				</div>
				<div class="col-md-2">
					<form action="/{{this.id}}?_method=PUT" method="POST">
						<input type="hidden">
						<button class="sub btn-warning" type="submit">DEVOUR!</button>
					</form>

				</div>
			{{/unless}}
		{{/each}}
	</div>
	<div class="col-md-6" id="eaten">
		{{#each burgers}}
			{{#if this.devoured}}
				<div class="burger-box text-center">
					{{this.id}}
					{{this.burger_name}}
				</div>
			{{/if}}
		{{/each}}
	</div>
</div>

<div class="row">
	<h2 class="text-center">Add a burger!</h2>
	<form class="create-burger-form" action="/" method="POST">
		<div class="col-md-4"></div>
		<div class="form-group col-md-4">
			<textarea class="form-control" rows="3" name="name"></textarea>
		</div>
		<button class="btn-info" type="submit">Create A New One</button>
	</form>
</div>